<!DOCTYPE html>
<html>
<head>
	<title>Contact Manager</title>
	<link rel="stylesheet" type="text/css" href="/plugs/css/graphui.css">
	<link rel="stylesheet" type="text/css" href="/plugs/css/contactmgr.css">
</head>
<body>
	<div id="HomeBg" class="error"></div>
	<div id="pageContainer">
		<div id="pageHeader" class="uiHeaderLight">
			<div class='containerMain'>
              <div><strong><a class='uiTransition' href='/'>Contact Manager App</a></strong></div>
            </div>
		</div>
		<div id="pageBody">
			<div class="containerMain">
				<div class="errTitle">:'(</div>
				<div class="errMsg">
					<p>Oops! We are thankful for your interest however this web page is currently available by using Google Chrome browser.</p>
					<p>If you still wish to access this page, you may opt to download <a href="https://www.google.com/chrome/browser/" target="_blank">Google Chrome</a> from their website.</p>
				</div>
				<div class="errFooter"><p><span class="copy">&copy;</span> 2014. Contact Manager App</p></div>
			</div>
		</div>
	</div>
</body>
</html>