<!DOCTYPE html>
<html>
<head>
	<title>Contact Manager</title>
	<script src="/plugs/js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/plugs/css/graphui.css">
	<link rel="stylesheet" type="text/css" href="/plugs/css/contactmgr.css">
</head>
<body>
	<div id="welcomeContainer">
		<div class="left">
			<div>
				<div class="title"><h3>Contact Manager App</h3></div>
				<div class="content">
					<div class="welDesc">Make your contacts reachable any time, any place with this simple contact manager app.</div>
					<div class="welTag">You only need is name, email, and phone to know each other.</div>
				</div>
			</div> 
		</div>
		<div class="right">
			<div>
				<center><a href="{{login_url_link}}" class="gp-initlogin"><i class="uiIcon-so-google_plus"></i> Login With Google</a></center>
			</div>

			<span class="footer">
				<div>Contact Manager App <span style="color:#0645ad;font-weight:bolder;font-size:14px;">Trial Phase. Not for release.</span></div>
			</span>
		</div>
	</div>
	<script type="text/javascript">
		/*$(document).ready(function(){
			$("#__linkLogin").click(function(){
				window.location.href = "{{login_url_link}}";
			});
		});*/
	</script>
</body>
</html>